<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.mapkit"
    version="0.9.3">

    <name>MapKit</name>
    <author>Anis Kadri</author>
    <license>Apache</license>

    <asset src="www/map-close-button.png" target="img/map-close-button.png" />

    
    <!-- ios -->
    <platform name="ios">
        <js-module src="www/MapKit.js" name="mapkit">
            <clobbers target="plugin.mapKit" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="MapKit">
                <param name="ios-package" value="MapKitView"/>
            </feature>
        </config-file>

        <framework src="MapKit.framework" />
        <resource-file src="src/ios/icon.png" />

        <header-file src="src/ios/AsyncImageView.h" />
        <header-file src="src/ios/CDVAnnotation.h" />
        <header-file src="src/ios/MapKit.h" />

        <source-file src="src/ios/AsyncImageView.m" />
        <source-file src="src/ios/CDVAnnotation.m" />
        <source-file src="src/ios/MapKit.m" />
    </platform>
</plugin>
